.find-icons {
  display: flex;
  justify-content: space-between;

  padding-bottom: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.find-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.find-icon i {
  font-size: 34px;
  margin-bottom: 13px;
}

.find-icon span {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
}
