.welcome-header {
  margin: 91px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 19px;
  font-size: 23px;
}

.welcome-header__text {
  /* width: 60%; */
  opacity: 0.4;
  font-weight: 500;
  font-size: 17px;
}

#login-form {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

#login-form input {
  margin-bottom: 17px;
  padding-bottom: 13px;
  font-size: 19px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:not([type="submit"]):focus {
  border-bottom: 1px solid var(--yellow);
}

#login-form input[type="submit"] {
  margin-top: 17px;
  /* border: 1px solid black; */
  padding: 13px 0px;
  background-color: var(--yellow);
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

#login-form a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  margin-top: 4px;
  font-size: 15px;
}
