.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 21px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__btn {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  /* display: block; */
  position: absolute;
  /* text-align: center; */
  left: 23px;
  bottom: 19px;
}
