.row-icons {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 13px; */
  /* padding-bottom: 17px; */
}

.row-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 25%;
}

.row-icon i {
  font-size: 34px;
  margin-bottom: 13px;
}

.row-icon span {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
}
